@using System.Web.Mvc.Html
@model SimpleMVC4.Models.Countries.CountryModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CountryModel</legend>
    <img src="@Url.Action("GetImage","Countries", new { id = Model.CountryId})" />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.TotalArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalArea)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.OfficialLanguage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficialLanguage)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.CountryModels) <br />
    </div>
    <div class="display-field">
        @Html.ListBoxFor(model => model.SelectedCountries, Model.AllCountries,
            new { @class = "chosen", multiple = "multiple", style = "width: 350px;" })
    </div>
</fieldset>

<script type="text/javascript">
   $(function () {
       $(".chosen").chosen();
       $(".chosen").trigger('chosen:updated');
       $(".chosen").attr('disabled', true).trigger("chosen:updated");
   });
</script>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CountryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
